<!doctype html>
<html>
    <head>
        <style>
      input[type=submit] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: bold;
      margin: 4px 2px;
      cursor: pointer;
    }
</style>
    </head>
   <body background="static\spotify-bg.png">
   <center>
         <header> <img src="static\QL.png" alt="Spotify" width="200" height="170">
      </header>
      <img src="static\Spotify_Logo.png" alt="Spotify" width="250" height="75">
<br>
       <h1 style="color:white; font-family:sans-serif">Oops.. No Results Found ! Try Again.</h1>
       <a href="{{ url_for('index')}}"><h2>Go Back</h2></a>
      <br>

       </center>
   </body>
</html>