<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
   <body background="static\spotify-bg.png">
   <center>
         <head> <img src="static\QL.png" alt="Spotify" width="200" height="170">
      </head>
<br>
      <img src="static\Spotify_Logo.png" alt="Spotify" width="250" height="75">

    <br>
        <h1 style="color:white;">{{artist}}</h1>
       <img src={{artist_img}} alt="Artist" width="200" height="200">

      <br> <br>
      <table border=1 style="color:white;">
          <tr>
              <th>Top 10 Songs </th>
              <th>Album</th>
              <th>Audio Link</th>
              <th>Cover Art</th>
          </tr>
         {% for row in songs %}
         <tr>
            <td>{{row[0]}}</td>
             <td>{{row[1]}}</td>
             <td><a href={{row[2]}}>Audio</a></td>
             <td><img src={{row[3]}} alt="img" width="100" height="100"> </img></td>

         </tr>
         {% endfor %}

      </table>

      <br>
       </center>
   </body>

</html>